
  .emptyView {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box{
  width: 500px;
  background-color: #fff;
  border-top: 0;
  color: #666;
  padding: 20px;
  z-index: 1000;
}

  .background {
    display: block;
    position:absolute;
    width: 100%;
    left: 0;
    top: 3;
    height: 100%;
    background: #00000000;
    opacity: .6;
}